<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quibusdam quisquam odio deleniti? Sunt, provident quia odit facere fuga voluptatibus.</p>
    </div>
</section>